/* NotFound.css */
.not-found {
    background-image: url('../assets/img/LostInSpace.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay for better text readability */
    padding: 20px;
    border-radius: 10px;
  }
  
  h2 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2em;
  }
  