@media screen and (min-width: 480px) {

  #home {
    /* height: 100vh; */
   
    background-color: aliceblue;
  }

  #personalDetails {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    /* height: 100vh; */
    justify-content: space-around;
    padding: 30px 10px;
    /* background-color: rgb(121, 103, 222); */
    margin:  0px 50px ;
  }

  #details {
    width: 60vw;
    margin-right: 20px;
    background-color: rgb(121, 103, 222);
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  #personalDetails img {
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 33vw;
    height: 33vw;
  }

    #projectCard {
        margin: 20px 50px;
        box-shadow: rgba(106, 106, 135, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        display: flex;
        flex-direction: column;
        background-color: rgb(183, 176, 183);
    }

    #projectCard > img {
      border-radius: 15px;
      width: 40vw;
      height: auto;
      margin: 10px auto;
      box-shadow: rgba(32, 31, 31, 0.4) 5px 5px;
    }

    .vid > iframe{
      border-radius: 15px;
      width: 50%;
      height: 300px;
    }
  }


  @media screen and (max-width: 480px) {


    #personalDetails {
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      background-color: rgb(121, 103, 222);
      padding: 10px;
    }
  
    #details {
      margin: 10px;
    }
  
    #personalDetails img {
      border-top-right-radius: 25px;
      border-bottom-left-radius: 25px;
      margin: 0;
      width: 90vw;
      height: 360px;
    }
  
      #projectCard {
          margin: 20px 0;
          box-shadow: rgba(106, 106, 135, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          display: flex;
          flex-direction: column;
          background-color: rgb(183, 176, 183);
      }
  
      #projectCard > img {
        border-radius: 15px;
        width: 90vw;
        margin: 10px auto;
        box-shadow: rgba(32, 31, 31, 0.4) 5px 5px;
      }
  
      .vid > iframe{
        border-radius: 15px;
        width: 90vw;
        height: 300px;
      }

  }
